{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
            <h1>Publier un nouvelle article </h1>
        </div>
        <div class="col-12">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.tags) }}
                {{ form_row(form.file) }}
                <button type="submit" class="btn btn-primary">Publier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

