{% extends 'base.html.twig' %}

{% block body %}
    <div class="row align-items-stretch">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1>Blog Post</h1>
            <a href="{{ path('post_create') }}" class="btn btn-primary">Publier</a>
        </div>
        {% for post in posts %}
            <div class="col-12 col-lg-4 col-xl-3 mb-4">
                <div class="card h-100">
                    <img src="{{ asset(post.image) }}" alt="{{ post.title }}" class="card-img-top">
                    <div class="card-body flex-grow-1">
                        <a href="{{ path('post_read', {'id': post.id}) }}" class="text-body text-decoration-none">
                            <h2 class="h4 mb-2">{{ post.title }}</h2>
                        </a>
                        <span class="text-muted small">Publié le {{ post.publishedAt |date('d/m/Y H:i') }}</span>
                        <p class="m-0 mt-2">
                            {{ post.content|u.truncate(25, '...', false) }}
                        </p>
                        <a href="{{ path('post_read', {'id': post.id}) }}" class="mt-2 ">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}